<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Manage IP.Chat</title>
			<subitems>
				<subitem>
					<subitemtitle>Manage IP.Chat</subitemtitle>
					<subsection>chat</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>