<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Group Permissions</title>
			<subitems>
				<subitem>
					<subitemtitle>Group Permissions</subitemtitle>
					<subsection>group_perms</subsection>
					<subitemurl>do=group_perms</subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>